.modaldiv {
    font-size: 12px;
    /* display: block !important;
    position: absolute !important;
    margin: auto !important;
    overflow: auto !important; */
  }
  .modaldiv > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modaldiv > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modaldiv > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modaldiv > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .popup-overlay {
      background: rgba(0,0,0,.5)
  }

  .popup-content {
      background-color: #292d3e;
      color: #fff;
      border: 1px solid #464545;
      animation: anvil .9s cubic-bezier(.38,.1,.36,.9) forwards
  }