.card-size {
  width: 16rem;
}

.float-card {
  float: right;
  position: absolute;
  margin-right: 100px;
  margin-top: 30px;
  z-index: 4;
}

@media only screen and (orientation: landscape) {
  div.sticky {
    position: sticky;
    top: 10%;
  }
}
