.banner {
  width: 100%;
  height: 400px;
  clear: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.featured-card {
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 30%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
