@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#9b77c5, rgb(248, 90, 248))
} */

.feedback-modal{
    font-family: 'Poppins', sans-serif
}

.rating {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}
.rating img{
    width: 70px;
    height: 64px;
}

.rating input {
    display: none;
}

.rating label {
    position: relative;
    width: 0;
    height: 128px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
    margin-top: 140px;
    margin-left: 100px
}

.rating:hover label {
    width: 160px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label {
    filter: grayscale(0);
    opacity: 1;
    width: 160px;
} 

.rating label h4 {
    color: black;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
}

.rating input:hover + label h4,
.rating input:checked + label h4{
    opacity: 1;
    transform: translateY(0) scale(1);
}

.question1 {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    width: 500px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
}
.feedback-ques2 #question2 {
    position: absolute;
    top: 300px;
    left: 49%;
    transform: translateX(-50%);
    color: black;
    width: 500px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
}

.feedback-ques2 #textarea {
    position: absolute;
    transform: translateX(-50%);
    top: 370px;
    left: 52%;
    padding: 5px;

}

#feedback-submit {
    position: absolute;
    top: 560px;
    left: 46%;
    width: 130px;
    height: 45px
}

#feedback-submit:hover {
    background-color: green;
    transform: scaleX(1.1);
}