.result-component{
    position: absolute;
    top: 3.3rem;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
}

.result-course{
    border-bottom: 2px solid gainsboro;
    padding: 2px;
}

.course-name{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 991px) {
    .result-component {
      top: 6rem;
    }
}


@media screen and (max-width: 420px) {
    .course-name {
      width: 65vw;
    }
}