.quiz-main{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  padding: 10px;
}
.quiz-card {
  background-color: #b3c0f1;
  max-width: 100%;
  width: auto;
  height: 50%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
}

.score-section {
  display: block;
  font-size: 24px;
  align-items: center;
  padding-top: 30px;
  height: 100%;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 20px
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* .answer-section > span {
  display: inline;
} */

button {
  width: 100%;
  font-size: 16px;
  color: #000000;
  background-color: #f3f3f3;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #868c92;
  cursor: pointer;
}

button:hover {
  background-color: #3c3d3c;
  color: white;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.quiz-badge{
  padding-right: 10em;
  padding-left: 10em;
  border-radius: 10rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.fail{
  background-color: rgb(240, 46, 46);
}
.pass{
  background-color: green;
}
.result-div{
  width: 100%;
}